# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore bundler config.
/idreact_box_api/.bundle

# Ignore all logfiles and tempfiles.
/idreact_box_api/log/*
/idreact_box_api/tmp/*
/idreact_box_api!/log/.keep
/idreact_box_api!/tmp/.keep

/idreact_box_api/.byebug_history
